.ProfileCard {
    border: 2px solid var(--inverted-bg-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &__input {
        margin-left: 15px;
        max-width: 150px;
    }

    &__image {
        width: 200px;
        height: 200px;
        border-radius: 100%;
    }

    &__avatar {
        display: flex;
        justify-content: center;
    }
}

.loading,
.error {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}
